<?php
// Database connection parameters
$db_hostname = "{{host}}";
$db_port     = 3306;
$db_database = "simple_lamp";
$db_username = "{{user}}";
$db_password = "{{mysql_root_password}}";

// Image upload options
$storage_option = "hd";
$hd_folder  = "uploads";

// Simulate latency, in seconds
$latency = 0;

// Cache configuration
$enable_cache = false;
$cache_server = "{{host}}";
?>
